body {
    font-family:cursive;
    background-color: bisque;
    color: #050505;
    margin-left: 400;
    padding-left: 400;
}

h1 {
    background-color: antiquewhite;
    color: #080808; /* white sunflower */
    text-align: center;
    margin-top: 40px;
    margin-left: 0px;
}

